.home__navbar {
    background-color: $primary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    padding: 0 10%;

    color: white;
}
.home__sidebar {
    background-color: #f1f1f1;
    height: 100vh;
    width: 320px;

    padding: 40px 15px;

    form {
        input {
            margin: 10px 0;
        }
    }
}
.home__container {
    display: flex;
}
.home__table {
    padding: 40px;
    width: 100%;

    table {
        width: 100%;

        tr {
            padding: 20px 0px;
            th,
            td {
                width: 100% / 5;
                padding: 0 15px;
            }

            .actions-btn {
                display: flex;
                flex-wrap: wrap;
            }
            button {
                margin: 0 3px;
            }
        }
    }
}
@media (max-width: 500px) {

    .home__container{
    //flex-direction:column;
    background-color: #f1f1f1;

    }
    .home__sidebar {
        display:none;
       // position:absolute;
        //width:100%;

        //height:auto;
    }
    .actions {
        display: none;
    }
}

.home__text{
 text-align:center;
 padding-top:40px;
 color:$dark-grey;
}